<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body bgcolor=Moccasin>

<div style="width:100%;height:20%;position:absolute;top:0%;left:0;">
    <h1 align="center">Calendar</h1>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <p><a href="/event">Book MeetRoom</a></p>

    <div style="float: left; width: 100%">

        <div style="float: left; width: 5%">
            <form th:action="@{/events}" method="get">
                <input type="hidden" name=counter value="-1"/>
                <input type="submit" value="<"/>
            </form>
        </div>
        <div style="float: left; width: 5%">
            <form th:action="@{/events}" method="get">
                <input type="hidden" name=counter value="1"/>
                <input type="submit" value=">"/>
            </form>
        </div>
    </div>
</div>

<div style="overflow:hidden;width:100%;height:100%;position:absolute;top:20%;left:0;">
    <div style="width: 100%;">
        <div style="float: left; width: 9%; height: 750px; background-color:Moccasin">
            <div style="height: 30px"></div>
            <div style="height: 30px;">00:00</div>
            <div style="height: 30px">01:00</div>
            <div style="height: 30px">02:00</div>
            <div style="height: 30px">03:00</div>
            <div style="height: 30px">04:00</div>
            <div style="height: 30px">05:00</div>
            <div style="height: 30px">06:00</div>
            <div style="height: 30px">07:00</div>
            <div style="height: 30px">08:00</div>
            <div style="height: 30px">09:00</div>
            <div style="height: 30px">10:00</div>
            <div style="height: 30px">11:00</div>
            <div style="height: 30px">12:00</div>
            <div style="height: 30px">13:00</div>
            <div style="height: 30px">14:00</div>
            <div style="height: 30px">15:00</div>
            <div style="height: 30px">16:00</div>
            <div style="height: 30px">17:00</div>
            <div style="height: 30px">18:00</div>
            <div style="height: 30px">19:00</div>
            <div style="height: 30px">20:00</div>
            <div style="height: 30px">21:00</div>
            <div style="height: 30px">22:00</div>
            <div style="height: 30px">23:00</div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:khaki">
            <div style="height: 30px" th:text="'Monday ' + ${monday}"></div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:Moccasin">
            <div style="height: 30px" th:text="'Tuesday ' + ${tuesday}"></div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:khaki">
            <div style="height: 30px" th:text="'Wednesday ' + ${wednesday}"></div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:Moccasin">
            <div style="height: 30px" th:text="'Thursday ' + ${thursday}"></div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:khaki">
            <div style="height: 30px" th:text="'Friday ' + ${friday}"></div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:Moccasin">
            <div style="height: 30px" th:text="'Saturday ' + ${saturday}"></div>
        </div>
        <div style="float: left; width: 13%; height: 750px; background-color:khaki">
            <div style="height: 30px" th:text="'Sunday ' + ${sunday}"></div>
        </div>
    </div>
</div>
<svg style="width:100%;height:100%;position:absolute;top:20%;left:0;">
    <rect th:each="rect : ${rectangles}"
          th:attr="x=${9 + ((rect.weekDay - 1) * 13) + '%'}, y=${30 + (rect.start.hour * 30) + (rect.start.minute / 2)}, height=${rect.duration.toMinutes()/2}, onclick=${'alert(`' + rect.description + '`)'}"
          style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" width="13%">
    </rect>
    <text th:each="rect : ${rectangles}"
          th:attr="x=${9 + ((rect.weekDay - 1) * 13) + '%'}, y=${45 + (rect.start.hour * 30) + (rect.start.minute / 2)}"
          fill="black" th:text="${rect.title}">
    </text>
</svg>

</body>
</html>

