<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body bgcolor=Moccasin>
<div style="overflow: hidden;">
    <div style="width: 100%;">
        <div style="float: left; width: 9%; height: 1000px; background-color:Moccasin">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:khaki">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:Moccasin">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:khaki">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:Moccasin">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:khaki">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:Moccasin">content</div>
        <div style="float: left; width: 13%; height: 1000px; background-color:khaki">content</div>
    </div>
</div>

</body>
</html>